body {
    font-family: sans-serif;
    background-color: #0058fc;
    color: black;
    margin: 0;
}

header {
    text-align: center;
    color:black;
    background-color: #FFFFFF;
}

nav {
    display: flex ;
    justify-content: space-around;
}

.nav-link {
    text-decoration: none;
}

h1 {
    color:black;
    padding: 30px;
}

p {
    font-size: 20px;
}

.info {
   display: flex;
   justify-content: center;
   width: 100%;
    flex-wrap: wrap;
}

article {
   background-color: rgb(30, 198, 204);
   padding: 30px;
   width: 400px;
   margin:50px;
}



nav a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color:rgb(0, 204, 255);
    
}

nav{
    background-color: #FFFFFF;
    padding: 20px;
    border-top:5px solid #000000;
    border-bottom:5px solid #94f426;
}

main{
    text-align: center;
}

.article-but {
    background-color: navy;
    padding: 10px 130px;
    text-decoration: none;
    color:white;
}

footer {
    background-color: #5DFF34;
    padding: 30px;
}
